<div data-th-fragment="contact">

<!-- Main modal -->
<div id="view_contact_modal" tabindex="-1" aria-hidden="true"
    class="hidden fixed inset-0 z-50 flex justify-center items-center 
           overflow-y-auto overflow-x-hidden bg-black/50">

    <div class="relative p-4 w-full max-w-2xl max-h-full">

        <!-- Modal content -->
        <div class="relative bg-white border border-gray-300 rounded-lg 
                    shadow-lg p-4 md:p-6">

            <!-- Modal header -->
            <div class="flex items-center justify-between border-b border-gray-300 
                        pb-4 md:pb-5">
                <div>
                    <h3 id="contact_name" class="text-lg font-medium text-gray-900"></h3>
                    <p id="contact_email" class="test-gray-800"></p>
                </div>

                <button type="button" onclick="closeContactModal()"
                    class="text-gray-500 hover:bg-gray-200 hover:text-gray-900 
                           rounded-lg text-sm w-9 h-9 flex justify-center items-center">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor"
                         viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" 
                              stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <!-- Modal body -->
            <div class="space-y-4 md:space-y-6 py-4 md:py-6 text-gray-700">
                <p>
                    With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.

                </p>
                <p>
                   The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
                </p>
            </div>

            <!-- Modal footer -->
            <div class="flex items-center border-t border-gray-300 space-x-4 pt-4 md:pt-5">
                <button data-modal-hide="default-modal" type="button"
                    class="text-white bg-blue-600 hover:bg-blue-700 
                           focus:ring-4 focus:ring-blue-300 shadow-md 
                           font-medium rounded-lg text-sm px-4 py-2.5">
                    I accept
                </button>

                <button  onclick="closeContactModal()" type="button"
                    class="text-gray-700 bg-gray-200 border border-gray-300
                           hover:bg-gray-300 hover:text-gray-900 
                           focus:ring-4 focus:ring-gray-200 shadow-md 
                           font-medium rounded-lg text-sm px-4 py-2.5">
                    Decline
                </button>
            </div>

        </div>
    </div>
</div>

</div>
