<!doctype html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"> <!-- This html will be replace by parent fragment in base.html -->
<head data-th-text="${loggedInUser.name} + ' | Dashboard">
	<title>Dashboard Page</title>
</head>
<body>

	<div id="content">
	
	    <!-- user is logged in - below sidebar -->
		<div data-th-if="${loggedInUser}" >
			<div  data-th-replace="~{user/sidebar :: sidebar}"></div> 	
		</div>
 
 		<div class="sm:pl-64 pt-20" style="height:1000px">
			<div  class="sm:px-2">
				<h1 >Welcome to User Dashboard Page</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
					quasi rerum cumque consequuntur aliquid repudiandae minus ab ipsam
					tenetur architecto omnis eveniet reiciendis quibusdam iusto tempore
					harum facilis repellendus neque.
				</p>
			</div>
		</div>
		
	</div>

	<script>
		console.log("Profile page script..")
	</script>

</body>
</html>