<!doctype html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"> 
<!-- This html will be replace by parent fragment in base.html -->
<head>
	<title>Search Contacts</title>
</head>
<body>

	<div id="content">
	
	    <!-- user is logged in - below sidebar -->
		<div th:if="${loggedInUser}" >
			<div  th:replace="~{user/sidebar :: sidebar}"></div> 	
		</div>
 
 		<div class="sm:pl-64 pt-20" style="height:1000px">
			<div class="flex justify-center flex-col items-center">
		          <h1 class="text-3xl">Search Results</h1>
		          <p data-th-text="${pageContact.totalElements}+' results found'"></p>
	        </div>
			<div class="contacts_container p-5">
                     <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                              
                                   <!-- Action Button & Search Bar  -->
                                   <form 
                                        th:object="${contactSearchForm}"
                                        th:action="@{'/user/contacts/search'}">
	                                    <div class="flex space-x-3 p-5 items-center  flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
	                                        
	                                        <!-- Select Button  -->
	                                        <div>
							                    <select
							                      th:field="*{field}"
							                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							                    >
							                      <option selected value="">Select Field</option>
							                      <option value="name">Name</option>
							                      <option value="phone">Phone</option>
							                      <option value="email">Email</option>
							                    </select>
							                  </div>
	                                        <!-- Search Bar -->
	                                        <label for="table-search" class="sr-only">Search</label>
	                                        <div class="relative">
	                                             <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
	                                                  <svg
	                                                       class="w-4 h-4 text-gray-500 dark:text-gray-400"
	                                                       aria-hidden="true"
	                                                       xmlns="http://www.w3.org/2000/svg"
	                                                       fill="none"
	                                                       viewBox="0 0 20 20"
	                                                  >
	                                                       <path
	                                                            stroke="currentColor"
	                                                            stroke-linecap="round"
	                                                            stroke-linejoin="round"
	                                                            stroke-width="2"
	                                                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
	                                                       />
	                                                  </svg>
	                                             </div>
	                                             <input
	                                                  th:field="*{value}"
	                                                  type="text"
	                                                  class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
	                                                  placeholder="Search for users"
	                                             />
	                                        </div>
	                                        <button type="submit" class="px-3 py-2 bg-gray-800 text-white rounded">
							                    Search
							                </button>
	                                   </div>

                                   
                                   </form>
                                  <!-- TABLE -->
                                   <table 
                                        th:if="${pageContact.totalElements>0}"
                                        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                        <!-- HEADINGS -->
                                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                             <tr>
                                                  <th scope="col" class="px-6 py-3">Name</th>
                                                  <th scope="col" class="px-6 py-3">Phone</th>
                                                  <th scope="col" class="px-6 py-3">Links</th>
                                                  <!-- ⭐ NEW FAVOURITE COLUMN -->
                                                  <th scope="col" class="px-6 py-3">Favourite</th>
                                                  <th scope="col" class="px-6 py-3">Action</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                             <tr
                                                  th:each="c : ${pageContact.content}"
                                                  th:object="${c}"
                                                  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
                                             >
                                                  <!-- IMAGE + NAME + EMAIL -->
                                                  <th
                                                       scope="row"
                                                       class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                                                  >
                                                       <img
                                                            th:if="${c.picture != null}"
                                                            onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsb1XJPz_AjTBJO7HaYD-yzPdQAvX_WtHeoWEay4Mx_ld75WReQKOCZcY&s'"
                                                            th:src="@{${c.picture}}"
                                                            class="w-10 h-10 rounded-full object-cover"
                                                            alt="contact picture"
                                                       />
                                                       <img
                                                            th:if="${c.picture == null}"
                                                            onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsb1XJPz_AjTBJO7HaYD-yzPdQAvX_WtHeoWEay4Mx_ld75WReQKOCZcY&s'"
                                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsb1XJPz_AjTBJO7HaYD-yzPdQAvX_WtHeoWEay4Mx_ld75WReQKOCZcY&s"
                                                            class="w-10 h-10 rounded-full object-cover"
                                                            alt="default image"
                                                       />
                                                       <div class="ps-3">
                                                            <div class="text-base font-semibold" th:text="${c.name}">
                                                                 Contact Name
                                                            </div>
                                                            <div class="font-normal text-gray-500" th:text="${c.email}">
                                                                 example@gmail.com
                                                            </div>
                                                       </div>
                                                  </th>

                                                  <!-- PHONE -->
                                                  <td class="px-6 py-4">
                                                       <i class="w-4 fa-solid fa-phone object-cover"></i>
                                                       <span th:text="${c.phoneNumber}"></span>
                                                  </td>

                                                  <!-- LINKS -->
                                                  <td class="px-6 py-4">
                                                       <div class="flex items-center">
                                                            <a th:href="${c.websiteLink}" target="_blank">
                                                                 <i class="w-6 h-6 fa-solid fa-globe"></i>
                                                            </a>
                                                            <a th:href="${c.linkedinLink}" target="_blank">
                                                                 <i class="w-6 h-6 fa-brands fa-linkedin"></i>
                                                            </a>
                                                       </div>
                                                  </td>

                                                  <!-- ⭐ FAVOURITE -->
                                                  <td class="px-6 py-4">
                                                       <span th:if="${c.favourite}">
                                                            <i class="fa-solid fa-heart text-red-500 text-lg"></i>
                                                       </span>
                                                       <span th:if="${!c.favourite}">
                                                            <i class="fa-regular fa-heart text-gray-400 text-lg"></i>
                                                       </span>
                                                  </td>

                                                  <!-- ACTION BUTTONS -->
                                                  <td class="px-6 py-4">
                                                       <a href="#" target="_blank">
                                                            <i class="w-6 h-6 fa-regular fa-pen-to-square"></i>
                                                       </a>
                                                       <a href="#" target="_blank">
                                                            <i class="w-6 h-6 fa-regular fa-eye"></i>
                                                       </a>
                                                       <a href="#" target="_blank">
                                                            <i class="w-6 h-6 fa-solid fa-trash"></i>
                                                       </a>
                                                  </td>
                                             </tr>
                                        </tbody>
                                   </table>

                                   <!-- pagination component  -->
                                   <div
                                        th:if="${pageContact.totalElements>0}"
                                        class="pagination_container bg-white dark:bg-gray-800 p-5 text-center flex justify-center items-center gap-6 flex-wrap"
                                   >
                                        <!-- Page Size Dropdown -->
                                        <div class="flex items-center gap-2 justify-center">
                                             <label for="pageSize" class="text-sm text-gray-600 dark:text-gray-300"
                                                  >Contacts per page</label
                                             >

                                             <select
                                                  id="pageSize"
                                                  class="p-2 border rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                                                  onchange="changePageSize(this.value)"
                                                  th:value="${pageSize}"
                                             >
                                                  <option th:value="5" th:selected="${pageSize == 5}">5</option>
                                                  <option th:value="10" th:selected="${pageSize == 10}">10</option>
                                                  <option th:value="20" th:selected="${pageSize== 20}">20</option>
                                                  <option th:value="50" th:selected="${pageSize == 50}">50</option>
                                             </select>
                                        </div>

                                        <nav aria-label="Page navigation example">
                                             <ul class="inline-flex -space-x-px text-base h-10">
                                                  <li th:unless="${pageContact.first}">
                                                       <a
                                                            th:href="@{'/user/contacts/search?size='+${pageSize}+'&page='+${pageContact.number-1}+'&field='+${contactSearchForm.field}+'&value='+${contactSearchForm.value}}"
                                                            href="#"
                                                            class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                                            >Previous</a
                                                       >
                                                  </li>
                                                  <li
                                                       th:each="index :  ${#numbers.sequence(0,pageContact.totalPages-1)}"
                                                  >
                                                       <a
                                                            th:href="@{'/user/contacts/search?size='+${pageSize}+'&page='+${index}+'&field='+${contactSearchForm.field}+'&value='+${contactSearchForm.value}  }"
                                                            href="#"
                                                            th:classappend="${index==pageContact.number? 'bg-blue-50  dark:bg-gray-600' : 'bg-white dark:bg-gray-800'}"
                                                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                                       >
                                                            <span th:text="${index+1}"></span>
                                                       </a>
                                                  </li>

                                                  <li th:unless="${pageContact.last}">
                                                       <a
                                                            th:href="@{'/user/contacts/search?size='+${pageSize}+'&page='+${pageContact.number+1}+'&field='+${contactSearchForm.field}+'&value='+${contactSearchForm.value}  }"
                                                            href="#"
                                                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                                            >Next</a
                                                       >
                                                  </li>
                                             </ul>
                                        </nav>
                                   </div>
                                   <h1
						              th:if="${pageContact.totalElements<=0}"
						              class="text-3xl text-center dark:bg-gray-800 dark:text-white bg-white p-4"
						            >
						              No Contacts found
						           </h1>
                    </div>
            </div>
                    
			
			
		</div>
		
	</div>

	<script>
		console.log("Search page script..")
	</script>

</body>
</html>