<!doctype html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"> <!-- This html will be replace by parent fragment in base.html -->
<head>
	<title>Contact Page</title>
</head>
<body>

	<div id="content">
		<h1>Welcome to Contact Page</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
			quasi rerum cumque consequuntur aliquid repudiandae minus ab ipsam
			tenetur architecto omnis eveniet reiciendis quibusdam iusto tempore
			harum facilis repellendus neque.
		</p>
	</div>

	<script>
		console.log("Contact page script..")
	</script>

</body>
</html>