<!doctype html>
<html lang="en" th:replace="~{base :: parent(~{::#content},  ~{::title}, ~{::script})}">
<head>
	<title>Services Page</title>
</head>
<body>
	<div id="content">
		<h1>Welcome to Services Page</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
			quasi rerum cumque consequuntur aliquid repudiandae minus ab ipsam
			tenetur architecto omnis eveniet reiciendis quibusdam iusto tempore
			harum facilis repellendus neque.</p>
	</div>
	
	<script>
		console.log("Services page script..")
	</script>
</body>
</html>